.App {
  text-align: center;
}

.topBar {
  background-color: #d1d1d1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  border-bottom: solid #00f281;
}

.nav {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  width: 500px;
  margin-top: 20px;
  margin-right: 10px;
}

.songDisplay {
  justify-content: center;
  display: grid;
  grid-template-columns: 10% 30% 5%;
  grid-template-rows: 30% 60% 20%;
}

.albumCover {
  height: 75px;
  width: 75px;
  grid-column: 1;
  grid-row: 1;
}

.titleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 2;
  grid-row: 1;
  padding-right: 5px;
}

.fav {
  grid-column: 3;
  grid-row: 1;
  height: 20px;
  align-items: center;
}

.favButton {
  margin-top: 13px;
}

.coms {
  grid-column: 2;
  grid-row: 2;
  word-wrap: normal;
  overflow: scroll;
}

.commentBox {
  grid-column: 2;
  grid-row: 3;
}

.username {
  color: white;
  font-family: "Playfair Display", serif;
}

body {
  background-color: #621389;
}

a {
  text-decoration: none;
  color: black;
  height: 20px;
}

a:hover {
  background-color: #00f281;
}

h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Amatic SC", cursive;
  color: white;
}

ul,
li {
  list-style: none;
  color: white;
  font-family: "Playfair Display", serif;
}

p {
  color: white;
}

.homeHeader {
  color: white;
}

.logo:hover {
  height: 100%;
}
