.App {
  text-align: center;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  width: 500px;
}
